---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="About" id="intro">
  <Icon slot="eyebrow" name="simple-icons:airasia" class="h-32" />
  <Fragment slot="lead">
    Who me? I'm a <span class="text-primary">seasoned professional</span> with a decade of experience as an
    early employee at a high-growth company.
    Leveraging my expertise, I've now transitioned to building
    <span class="text-primary">high-converting, trustworthy websites</span> for <span class="text-primary">local businesses</span>,
    helping them achieve their online goals with my strategic approach and keen eye for design.
  </Fragment>
</ContentSection>
