---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";

import EPImage from "src/data/showcase/images/eat-playground.png";
import KJBImage from "src/data/showcase/images/kajabi.png";

const sites = [
  {
    "title": "Eat Playground",
    "image": EPImage,
    "url": "https://eatplayground.com/"
  },
  {
    "title": "Kajabi",
    "image": KJBImage,
    "url": "https://kajabi.com/"
  }
];

---

<ContentSection title="Showcase" id="showcase">
  <Fragment slot="lead">
    Experience my <span class="text-primary">best work</span> yet!
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      {sites.map((site) => <ShowcaseCard site={site} />)}
    </div>
  </div>
</ContentSection>
